albumentations==1.2.1
jupyter==1.0.0
matplotlib==3.5.3
nltk==3.7
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
pandas==1.4.3
plotly==5.10.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymystem3==0.2.0
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.11.2
tokenizers==0.12.1
torch==1.12.1
tqdm==4.64.0

